header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 900px;
  height: 100px;
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

span,
p {
  font-size: 1.5rem;
  font-weight: 700;
}
